# Meta Marketing API
META_APP_ID=
META_APP_SECRET=
META_USER_ACCESS_TOKEN=
META_GRAPH_API_VERSION=v21.0
META_AD_ACCOUNT_ID=

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=https://<url-do-backend-no-easypanel>
NEXT_PUBLIC_FALLBACK_USD_BRL=5.5
